@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");

body {
  font-family: "Montserrat";
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
}

:root {
  /* Colors */
  --primary-color: black;
  --hover-color: #efefef;
  --disabled-color: #eeeeee;
  --disabled-font-color: #bbbbbb;
  --opaque-color: rgba(0, 0, 0, 0.2);
  --lighter-gray-color: rgba(0, 0, 0, 0.5);
}

/* Generic Styles -> kebab-case; CSS Modules -> camelCase */
.flex-grow {
  display: flex;
  flex-grow: 1;
}

.input-field-label {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  font-size: 16px !important;
  font-weight: 500;
}
.input-field-label > div:first-child {
  margin-bottom: 8px;
  font-size: 18px;
}

select {
  border: 1px solid #767676;
  border-radius: 4px;
  font-size: 16px;
  padding: 4px 2px;
}
input {
  border: 1px solid #767676;
  border-radius: 4px;
  text-indent: 4px;
  font-size: 16px;
  padding: 4px 2px;
}
input[type="radio"] {
  margin: auto 4px !important;
}

#root {
  height: 100%;
}

.flex-content {
  flex: 1;
  overflow-y: scroll;
  padding: 4px 24px;
}

hr {
  width: 100%;
  border-top: 1px solid var(--opaque-color);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
}
hr.dotted {
  border-top: 2px dotted var(--opaque-color);
}

.red {
  color: red;
}
.orange {
  color: orange;
}
.green {
  color: green;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .flex-content {
    padding: 4px 12px;
  }
  .input-field-label {
    padding: 14px 0;
    font-size: 12px !important;
  }
  .input-field-label > div:first-child {
    font-size: 16px;
  }  
  select {
    font-size: 14px;
    padding: 4px 2px;
  }
  input {
    font-size: 14px;
    padding: 4px 2px;
  }  
}
/* 
.cut-text {
  text-overflow: ellipsis;
  overflow     : hidden;
  white-space  : nowrap;
} */
