.dialogBackground {
  position: fixed;
  top: 0;
  left: auto;
  bottom: 0;
  width: 100%;
  background-color: var(--opaque-color);
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialogBody {
  min-height: 30%;
  max-height: 80%;
  width: 600px;
  overflow: scroll;
  background-color: white;
  border: 8px solid white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.dialogButtons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .dialogBody {
  min-height: 20%;
  width: 90%;
  }
  .dialogButtons {
    gap: 8px;
  }
}
