.reservationsPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reservartionsPageFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dialogContent {
  padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .dialogContent {
    font-size: 12px;
    line-height: 16px;
  }
}